name: deploy-infra

on:
  push:
    branches: [main]
    paths:
      - "infra/**"
      - ".github/workflows/deploy-infra.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AZURE_RESOURCE_GROUP: zrp
      AZURE_LOCATION: canadacentral
      BICEP_FILE: main.bicep

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Bicep
        uses: azure/arm-deploy@v2
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP }}
          deploymentName: main-${{ github.run_number }}
          template: ${{ env.BICEP_FILE }}
          parameters: >
            namePrefix=zrp-rickmorty
            location=${{ env.AZURE_LOCATION }}
          failOnStdErr: false
